/*****************************************************************************/
/* Home: Style */
/*****************************************************************************/
.home {
	padding: 40px 20px;
	width: 80vw;
	height: 70vh;
	background-color: rgba(0, 0, 0, 0.66);
	display: flex;
	align-items: center;
	justify-content: center;
}
